sudo: false
language: ruby
cache:
  bundler: true
  directories:
    - travis_phantomjs
rvm:
- 2.5.1
services:
- memcached
- postgresql
addons:
  postgresql: "9.6"
before_install:
- gem install bundler -v 1.16.2
- |
    export PHANTOMJS_VERSION=2.1.1
    export PATH=$PWD/travis_phantomjs/phantomjs-$PHANTOMJS_VERSION-linux-x86_64/bin:$PATH
    if [ $(phantomjs --version) != $PHANTOMJS_VERSION ]; then
      rm -rf $PWD/travis_phantomjs
      mkdir -p $PWD/travis_phantomjs
      wget https://github.com/Medium/phantomjs/releases/download/v$PHANTOMJS_VERSION/phantomjs-$PHANTOMJS_VERSION-linux-x86_64.tar.bz2
      tar -xvf phantomjs-$PHANTOMJS_VERSION-linux-x86_64.tar.bz2 -C $PWD/travis_phantomjs
    fi
    phantomjs -v
before_script:
- bundle install
- RAILS_ENV=test bundle exec rake db:create
- RAILS_ENV=test bundle exec rake db:structure:load
script: RAILS_ENV=test bundle exec rake
