<p class="form-hint">Example: Make wrongly describing a casserole with a pastry lid as a pie a criminal offence</p>
<details class="form-group-help">
  <summary><span class="summary">Show more examples</span></summary>
  <div class="panel-indent">
    <p>Good examples:</p>
    <ul class="list-bullet">
      <li>Ban the sale of plastic bags in the Island</li>
      <li>Allow online voting in elections to the Assembly</li>
    </ul>
    <p>Bad examples:</p>
    <ul class="list-bullet">
      <li>Russia Problem on US ruling</li>
      <li>Justice for David Thomas</li>
    </ul>
    <p>Good petitions say clearly what they want Ministers to do.</p>
  </div>
</details>
