<h1>Sorry, you're not allowed to create a petition</h1>

<p>
  We've detected that your IP address is from outside Jersey and only
  residents on the island aged 16 or over are allowed to create petitions.
</p>
