<div class="text-page">

<h1 class="page-title">How petitions work</h1>

<ol class="list-number">
  <li>You create a petition. Only Jersey residents aged over 16 can create or sign a petition.</li>
  <li>You get 5 people to support your petition. We’ll tell you how to do this when you’ve created your petition.</li>
  <li>We check your petition, then publish it. We only reject petitions that don’t meet the standards for petitions.</li>
  <li>States Members see all the petitions we publish. They can find out more about the issues raised by petitions. They have the power to press for action from ministers or the States Assembly.</li>
  <li>At 1,000 signatures you get a response from the government.</li>
  <li>At 5,000 signatures your petition will be considered for a debate in the States Assembly.</li>
</ol>

<h2 id="debates">Debates</h2>

<p>Petitions which reach 5,000 signatures are considered for debate by the States Assembly. A debate might not happen if the issue has already been debated recently or there’s a debate scheduled for the near future. If that’s the case, we’ll tell you how you can find out more about States Assembly debates on the issue raised by your petition.</p>

<p>States Members, or a scrutiny panel, might consider your petition for a debate before it reaches 5,000 signatures or might bring a proposition on the subject you have raised.</p>

<h2 id="standards">Standards for petitions</h2>

<p>Petitions must call for a specific action from Jersey ministers or the States Assembly.</p>

<p>Petitions must be about something that the States Assembly is responsible for.</p>

<p>Petitions can disagree with ministers and can ask for policies to be changed. Petitions can be critical of Jersey ministers or the States Assembly.</p>

<p>We reject petitions that don’t meet the rules. If we reject your petition, we’ll tell you why. If we can, we’ll suggest other ways you could raise your issue.</p>

<p>We’ll have to reject your petition if:</p>

<ul class="list-bullet">
  <li>
    <p>It calls for the same action as a petition that’s already open</p>
  </li>
  <li>
    <p>It doesn’t ask for a clear action from Jersey ministers or the States Assembly</p>
  </li>
  <li>
    <p>It’s about something Jersey ministers or the States Assembly are not responsible for.</p>
    <p>That includes: something that another Government (such as the UK Government) is responsible for and something that an independent organisation has done.</p>
  </li>
  <li>
    <p>It’s defamatory or libellous, or contains false statements</p>
  </li>
  <li>
    <p>It refers to a case that’s active in the courts</p>
  </li>
  <li>
    <p>It contains material that may be protected by an injunction or court order</p>
  </li>
  <li>
    <p>It contains material that could be confidential or commercially sensitive</p>
  </li>
  <li>
    <p>It could cause personal distress or loss. This includes petitions that could intrude into someone’s personal grief or shock without their consent.</p>
  </li>
  <li>
    <p>It accuses an identifiable person or organisation of a crime</p>
  </li>
  <li>
    <p>It names individual officials of public bodies, unless they are senior managers</p>
  </li>
  <li>
    <p>It names family members of States Members or of officials of public bodies</p>
  </li>
  <li>
    <p>It asks for someone to be given an honour, or have an honour taken away. You can nominate someone for an honour here: <a href="https://www.gov.uk/honours">www.gov.uk/honours</a></p>
  </li>
  <li>
    <p>It asks for someone to be given a job, or to lose their job. This includes petitions asking for a vote of no confidence in someone and petitions calling for someone to resign.</p>
  </li>
  <li>
    <p>It contains party political material</p>
  </li>
  <li>
    <p>It’s nonsense or a joke</p>
  </li>
  <li>
    <p>It’s an advert, spam, or promotes a specific product or service</p>
  </li>
  <li>
    <p>It’s a Freedom of Information request</p>
  </li>
  <li>
    <p>It contains swearing or other offensive language</p>
  </li>
  <li>
    <p>It’s offensive or extreme in its views. That includes petitions that attack, criticise or negatively focus on an individual or a group of people because of characteristics such as their age, disability, ethnic origin, gender identity, medical condition, nationality, race, religion, sex, or sexual orientation</p>
  </li>
</ul>

<p>We publish the text of petitions that we reject, as long as they’re not:</p>
<ul class="list-bullet">
  <li>defamatory, libellous or illegal in another way;</li>
  <li>about a case that is active in the courts or about something that a court has issued an injunction over;</li>
  <li>offensive or extreme;</li>
  <li>confidential or likely to cause personal distress. That includes petitions that could intrude into someone’s personal grief or shock without their consent; or</li>
  <li>a joke, an advert or nonsense.</li>
</ul>

<p>If you have any other questions, please <%= link_to 'get in touch', feedback_path %>.</p>

</div>
