<div class="text-page">

  <h1>States Greffe Department Privacy Notice (Fair Processing Notice)</h1>

  <p>Last update: May 25 2018</p>

  <p>The Department is registered as a ‘Controller’ under the Data Protection (Jersey) Law 2018 as we collect and process personal information about you. We process and hold your information as a public function in order for you to participate in the petitions service to either start or sign online petitions to raise issues with Jersey ministers or the States Assembly. This notice explains how we use and share your information.</p>

  <p>We will continually review and update this privacy notice to reflect changes in our services and feedback from service users, as well as to comply with changes in the law.</p>

  <h2>What information do we collect about you?</h2>

  <p>We collect the following types of information about you:</p>

  <ul class="list-bullet">
    <li>Your name</li>
    <li>Your email address</li>
    <li>Your postcode</li>
    <li>Whether you are a Jersey citizen</li>
    <li>Whether you are over 16 years old</li>
    <li>The IP address you use when starting or signing a petition</li>
  </ul>

  <h2>Why do we collect information about you?</h2>

  <p>We need to collect and hold information about you, in order to:</p>
  <ul class="list-bullet">
    <li>Make sure that people only sign a petition once</li>
    <li>Check that you’re eligible to sign a petition</li>
    <li>Contact you about petitions you start</li>
    <li>If you consent, email you updates about what happens in the States Assembly in relation to petitions you’ve signed</li>
  </ul>

  <h2>How will we use the information about you?</h2>

  <p>We will use the information you provide in a manner that conforms to the Data Protection (Jersey) Law 2018.</p>

  <p>We will use your postcode to work out how many people in each parish have signed a petition.</p>

  <p>We may not be able to provide you with a service unless we have enough information or your permission to use that information.</p>

  <p>We will not pass any personal data on to anyone outside of the States of Jersey, other than those who either process information on our behalf, or because of a legal requirement, and we will only do so, where possible, after we have ensured that sufficient steps have been taken by the recipient to protect your personal data.</p>

  <p>We will not disclose any information that you provide ‘in confidence’, to anyone else without your permission, except in the few situations where disclosure is required by law, or where we have good reason to believe that failing to share the information would put someone else at risk. You will be told about this unless there are exceptional reasons not to do so.</p>

  <p>We will retain your personal data from the date you start or sign a petition, until 6 months after that petition closes – a maximum of 12 months in total.</p>

  <p>We do not process your information overseas using web services that are hosted outside the European Economic Area.</p>

  <h2>Data Sharing</h2>

  <p>We may pass your information to States of Jersey (SOJ) departments or States members that have a responsibility for the issues detailed in the petition. These individuals and departments are obliged to keep your details securely, and only use your information for the purposes of addressing the petition.</p>

  <p>We may disclose information to other departments where it is necessary, either to comply with a legal obligation, or where permitted under other legislation. Examples of this include, but are not limited to: where the disclosure is necessary for the purposes of the prevention and/or detection of crime; for the purposes of meeting statutory obligations; or to prevent risk of harm to an individual, etc.</p>

  <p>At no time will your information be passed to organisations for marketing or sales purposes or for any commercial use without your prior express consent.</p>

  <h2>Publication of your information</h2>

  <p>We may publish your information on our website for the following reasons:</p>

  <ul class="list-bullet">
    <li>If you start a petition and we accept it, your name will be published with the petition. We will not publish any other personal information about you.</li>
    <li>If you have signed a petition we will not publish any personal information about you.</li>
  </ul>

  <h2>E-Mails</h2>

  <p>If you email us we may keep a record of your email address and a copy of the email for record keeping purposes.</p>

  <p>For security reasons we will not include any confidential information about you in any email we send to you. We would also suggest that you keep the amount of confidential information you send to us via email to a minimum or use our secure online services where possible or correspond with us by post.</p>

  <p>We will not share your email address or your email contents unless is it necessary for us to do so; either to fulfil your request for a service; to comply with a legal obligation, or where permitted under other legislation.</p>

  <h2>Telephone Calls</h2>

  <p>We do not record or monitor any telephone calls you make to us using recording equipment, although if you leave a message on our voicemail systems your message will be kept until we are able to return your call or make a note of your message.   File notes of when and why you called may be taken for record keeping purposes.  We will not pass on the content of your telephone calls, unless is it necessary for us to do so; either to fulfil your request for a service; to comply with a legal obligation, or where permitted under other legislation.</p>

  <h2>Your rights</h2>

  <h4>You can ask us to stop processing your information </h4>

  <p>You have the right to request that we stop processing your personal data in relation to any of our services. However, this may cause delays or prevent us delivering a service to you. Where possible we will seek to comply with your request but we may be required to hold or process information to comply with a legal requirement.</p>

  <h4>You can withdraw your consent to the processing of your information</h4>

  <p>In the few instances when you have given your consent to process your information, you have the right to withdraw your consent to the further processing of your personal data.  However, this may cause delays or prevent us delivering a service to you. We will always seek to comply with your request but we may be required to hold or process your information in order to comply with a legal requirement.</p>

  <h4>You request that the processing of your personal data is restricted</h4>

  <p>You have the right to request that we restrict the processing of your personal information.  You can exercise this right in instances where you believe the information being processed in inaccurate, out of date, or there are no legitimate grounds for the processing. We will always seek to comply with your request but we may be required to continue to process your information in order to comply with a legal requirement.</p>

  <h4>You can ask us for a copy of the information we hold about you</h4>

  <p>You are legally entitled to request a list of, or a copy of any information that we hold about you. However where our records are not held in a way that easily identifies you, for example a land registry, we may not be able to provide you with a copy of your information, although we will do everything we can to comply with your request.</p>

  <p>In some circumstances we may not be able to comply fully with your subject rights provisions to the extent required to avoid an infringement of the privileges of the States Assembly.</p>

  <h4>You can ask us to correct or amend your information</h4>

  <p>You have the right to challenge the accuracy of the information we hold about you and request that it is corrected where necessary. We will seek to ensure that corrections are made not only to the data that we hold but also any data held by other organisations/parties that process data on our behalf.</p>

  <h2>Changes to this notice</h2>

  <p>We may change this privacy notice. In that case the ‘last updated’ date at the top of this page will also change. Any changes to this privacy notice will apply to you and your data immediately. If these changes affect how your personal data is processed, we will take reasonable steps to make sure you know.</p>

  <h2>Complaints</h2>

  <h4>You can complain to us about the way your information is being used</h4>

  <p>If you have an enquiry or concern regarding the processing of your personal data please contact:</p>

  <address>
    States Greffe <br>
    Morier House <br>
    Halkett Place <br>
    St Helier <br>
    Jersey JE1 1DD <br>
  </address>

  <p>Telephone: <a href="tel: +44153441020">+44 (0)1534 41020</a></p>

  <p>Email: <a href="mailto: StatesGreffe@gov.je">StatesGreffe@gov.je</a></p>

  <p>Or alternatively:</p>

  <address>
    The Data Protection Team <br>
    Morier House <br>
    Halkett Place <br>
    St Helier <br>
    Jersey <br>
    JE1 1DD <br>
  </address>

  <p>Email: <a href="mailto: DataProtection2018@gov.je">DataProtection2018@gov.je</a></p>

  <h4>You can also complain to the Information Commissioner about the way your information is being used</h4>

  <p>The Office of the Information Commissioner can be contacted in the following ways:</p>

  <p>Telephone: <a href="tel: +441534716530">+44 (0)1534 716530</a></p>

  <p>Email: <a href="mailto: enquiries@oic.org">enquiries@oic.org</a></p>

  <address>
    Office of the Information Commissionera <br>
    Brunel House <br>
    Old Street <br>
    St Helier <br>
    Jersey <br>
    JE2 3RG <br>
  </address>

<section id="cookies" aria-labelledby="cookies-heading">
  <h2 id="cookies-heading">Cookies</h2>

  <p>This website puts small files (known as ‘cookies’) onto your computer to collect information about how you browse the site.</p>

  <p>Cookies are used to:</p>

  <ul class="list-bullet">
    <li>measure how you use the petitions service so it can be updated and improved based on your needs</li>
    <li>remember the notifications you’ve seen so that we don’t show them to you again</li>
  </ul>

  <p>These cookies aren’t used to identify you personally.</p>

  <p>Find out more about <a href="http://www.aboutcookies.org/" rel="external">how to manage cookies.</a></p>

  <h3>Google Analytics cookies</h3>

  <p>We use Google Analytics to collect information about how you use the service. This information helps us to improve the service.</p>
  <p>The Google analytics cookie collects and stores information about:</p>

  <ul class="list-bullet">
      <li>unique users</li>
      <li>informing referring sites</li>
      <li>vistor and session counts</li>
  </ul>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Purpose</th>
        <th>Expires</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>_ga</td>
        <td>A randomly generated reference is used to identify unique users and inform referring sites, visitor and session counts</td>
        <td>2 years</td>
      </tr>
    </tbody>
  </table>

  <p>Google isn’t allowed to use or share our analytics data with anyone, but you can opt out of Google Analytics cookies.</p>

  <h3>Session cookies</h3>
  <p>We store a session cookie on your computer to help keep your information secure while you use the service.</p>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Purpose</th>
        <th>Expires</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>_jpets_session</td>
        <td>This keeps your information secure while you use the petitions service</td>
        <td>When you close your browser</td>
      </tr>
    </tbody>
  </table>
</section>
</div>
