<header role="banner" id="global-header">
  <div class="wrapper">
    <% if home_page? %>
      <span class="proposition">
        <img src="https://www.gov.je/_controltemplates/15/C5.GovJEResponsive/images/Leoaprds-white-V1.svg"> Petitions
      </span>
    <% else %>
      <%= link_to(home_path, :title => 'Go to the petitions homepage', :tabindex => 1, :class => 'proposition') do %>
       <img src="https://www.gov.je/_controltemplates/15/C5.GovJEResponsive/images/Leoaprds-white-V1.svg">  Petitions
      <% end %>
    <% end %>
       <p class="strapline">States of Jersey Government</p>
  </div>
</header>
