
$house-of-commons-green: #b60011;
$petitions-brand: #b60011;
$petitions-header-colour: $petitions-brand;
$petitions-panel-colour: $petitions-brand;
$petitions-button-colour: #095aa2;
$petitions-footer-colour: #e1e3e3;

