/* Global footer */

#footer {
  border-top: none;
  background-color: $petitions-footer-colour;
  padding-top: $gutter-two-thirds;
  padding-bottom: $gutter;

  a {
    color: $white;

    &:hover {
      text-decoration: underline;
    }

    &:focus {
      color: $petitions-footer-colour;
    }
  }

  ul {
    margin-bottom: $gutter-half;
  }

  li {
    @include core-16;
    margin-bottom: $gutter-one-third;
  }

  hr {
    background-color: #999999;
    border: none;
    height: 1px;
    margin: $gutter-two-thirds 0;
    padding: 0;

    @include media(tablet) {
      max-width: $site-width;
      margin: $gutter-two-thirds $gutter;
    }

    @include media($site-width + $gutter * 2) {
      max-width: $site-width;
      margin: $gutter-two-thirds auto;
    }
  }

  .logo-container {
    padding: 0 $gutter-half;
  }

  .logo {
    margin: 0 auto;

    @include media(tablet) {
      max-width: $site-width * 0.5;
    }

    svg {
      display: block;
    }
  }
}

.gm_sidebar {
  img {
    display: block;
  }
}
