#global-header {
  background-color: $petitions-header-colour;
  margin-top: -1px;
  margin-bottom: -1px;
  h1 {
    margin: 0;
  }
  .wrapper {
    padding: $gutter-one-third 0;
  }
  .proposition {
    color: $white;
    font-size: 24px;
    font-weight: 700;
    display: block;
    position: relative;
    overflow: visible;
    vertical-align: baseline;
    line-height: 34px;
  }
  a {
    text-decoration: none;
  }
  a:focus {
    background-color: transparent;
    text-decoration: underline;
  }
  .graphic {
    position: absolute;
    left: 0;
    top: 0;
    width: 28px;
    height: 34px;
  }
  .logo-container {
    background-color: $white;
    padding-top: 1px;
  }
  .logo {
    @extend %site-width-container;
    padding: $gutter-one-third 0;

    @include media(tablet) {
      padding: $gutter-half 0;
    }

    svg {
      display: block;
      height: 34px;

      @include media(tablet) {
        height: 56px;
      }
    }
  }
}

#global-cookie-message {
  width: 100%;
  background-color: $light-blue-25;
  padding-top: 10px;
  padding-bottom: 10px;
  p {
    @extend %site-width-container;
    @include core-16;
    margin-top: 0;
    margin-bottom: 0;
    a {
      white-space: nowrap;
    }
  }
}

#global-header-bar {
  background-color: $states-assembly-red;
}
